<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name=" android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA" />

    <application
        android:name=".WearFiles"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:isSplitRequired="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:manageSpaceActivity="true"
            android:taskAffinity=".ui.MainActivity">
        </activity>

        <activity
            android:name=".ui.FileActivity"
            android:exported="true"
            android:manageSpaceActivity="true"
            android:taskAffinity=".ui.FileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MenuActivity"
            android:noHistory="true"
            android:exported="true"
            android:manageSpaceActivity="true"
            android:taskAffinity=".ui.FileActivity"/>

        <activity android:name=".ui.actions.ActionDeleteActivity"
            android:exported="true"
            android:manageSpaceActivity="true"
            android:taskAffinity=".ui.FileActivity"/>

        <activity android:name=".ui.actions.ActionRenameActivity"
            android:exported="true"
            android:manageSpaceActivity="true"
            android:taskAffinity=".ui.FileActivity"/>

        <activity android:name=".ui.actions.ActionNewFolderActivity"
            android:exported="true"
            android:manageSpaceActivity="true"
            android:taskAffinity=".ui.FileActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
    </application>

</manifest>